h1{
        margin: 0px;
}

.Copy{
    font-size: 22px;
    color:darkblue;
    text-align: center
}

.Texto{
    font-size: 20px;
}

.Color{
    color: red;
}

.links{
    font-size: 27px;
}